.add-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-form label {
    display: grid;
    grid-template-rows: repeat(1, 7fr);
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: bold;
}

.add-form p {
    width: 80vw;
}

.add-form label small {
    font-weight: normal;
}

.add-form input, .add-form textarea {
    margin-top: 10px;
    padding: 10px;
}

.add-form button {
    padding: 10px;
}

.header-add-form {
    text-align: center;
}

