header {
    background: purple;
    padding: 2px;
    display: grid;
    height: 35px;
    grid-template-columns: repeat(3, 1fr);
}

.search input {
    width: 33vw;
    padding-left: 3px;
    margin-top: 4px;
    line-height: 18px;
}
